/* stolen from http://bettermotherfuckingwebsite.com/ */
.container {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}
h1,h2,h3 {
	line-height: 1.2;
}
/* end stolen css */

img {
	display: block;
	margin: auto;
	height: 300px;
}

select {
	display: inline;
	min-width: 50px;
	padding: 5px;
	color: #444;
}